// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Source+Serif+Pro:wght@600&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Source Serif Pro', serif;



$font-size-main: 16px;
$font-family-main: 'Poppins', sans-serif;
$font-family-title: 'Source Serif Pro', serif;
$color-font-main: rgb(26, 10, 3);

:root {
    --color-alternative: 0, 0, 0;
}